pc() {
    @media all and (min-width: 769px) {
        {block};
    }
}

sp() {
    @media all and (max-width: 768px) {
        {block};
    }
}

ws() {
    @media all and (min-width: 1265px) {
        {block};
    }
}