@require './normalize.styl';
@require './base.styl';
@require './palette.styl';

$navWidth = 250px;
$headerHeight = 60px;

.app {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;

    &__header {
        border-bottom: solid 1px gainsboro;
        height: $headerHeight;
        z-index: 1;
    }

    &__sidenav {
        position: fixed;
        transform: translateX(-1 * $navWidth);
        top: 0;
        left: 0;
        width: $navWidth;
        height: 100%;
        border-right: solid 1px gainsboro;
        transition: transform 0.3s;
        background-color: $bgColor;

        +pc() {
            margin-top: $headerHeight;
        }

        &--show-pc {
            +pc() {
                transform: translateX(0);

                & + .app__body {
                    margin-left: $navWidth;
                }
            }
        }

        &--show-sp {
            +sp() {
                transform: translateX(0);
                z-index: 1;

                & + .app__body {
                    &:after {
                        content: '';
                        position: fixed;
                        top: 0;
                        left: 0;
                        height: 100vh;
                        width: 100vw;
                        background-color: rgba(0, 0, 0, 0.1);
                    }
                }
            }
        }
    }

    &__body {
        flex: 1;
        transition: margin-left 0.3s;
        overflow-y: auto;
    }
}

.sidenav {
}

.header {
    display: flex;
    align-items: center;

    &__icon {
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $accent;
        padding: 12px;
        text-decoration: none;
        border-radius: 50%;
        box-sizing: border-box;
        transition: background-color 0.3s;
        margin: 0 5px;
        height: 50px;
        width: 50px;
        cursor: pointer;

        &:active {
            background-color: gainsboro;
        }
    }

    &__title {
        font-size: 2em;
        font-weight: 100;
        color: $primary;
        flex: 1;
        text-align: left;
    }
}

.button {
    border: none;
    border-radius: 0.2em;
    background-color: $primary;
    padding: 0.5em;
    color: $primaryText;
    position: relative;
    user-select: none;
    cursor: pointer;

    // &:active::after {
    // content: '';
    // position: absolute;
    // top: 0;
    // left: 0;
    // height: 100%;
    // width: 100%;
    // animation: expand 0.3s ease-out;
    // background-color: rgba(255, 255, 255, 0.9);
    // pointer-events: none;
    // opacity: 0;
    // }
    &:focus {
        outline: none;
    }
}

button {
    background-color: transparent;
    border-style: none;
    color: inherit;
    cursor: pointer;
}
