@require './normalize.styl';
@require './base.styl';
@require './palette.styl';

$navWidth = 250px;
$headerHeight = 60px;

.app {
    display: flex;
    flex-direction: column;
    position: relative;

    &__header {
        border-bottom: solid 1px gainsboro;
        height: $headerHeight;
        z-index: 1;
    }

    &__sidenav {
        position: fixed;
        transform: translateX(-1 * $navWidth);
        top: 0;
        left: 0;
        width: $navWidth;
        height: 100%;
        border-right: solid 1px gainsboro;
        transition: transform 0.3s;
        background-color: $bgColor;

        +pc() {
            margin-top: $headerHeight;
        }

        &--show-pc {
            +pc() {
                transform: translateX(0);

                & + .app__body {
                    margin-left: $navWidth;
                }
            }
        }

        &--show-sp {
            +sp() {
                transform: translateX(0);
                z-index: 1;

                & + .app__body {
                    &:after {
                        content: '';
                        position: fixed;
                        top: 0;
                        left: 0;
                        height: 100vh;
                        width: 100vw;
                        background-color: rgba(0, 0, 0, 0.1);
                    }
                }
            }
        }
    }

    &__body {
        flex: 1;
        transition: margin-left 0.3s;
    }
}

.header {
    display: flex;
    align-items: center;

    &__left-menu {
        font-size: 2em;
        display: flex;
        align-items: center;
        color: $accent;
        padding: 10px;
        text-decoration: none;
        border-radius: 50%;
        box-sizing: border-box;
        transition: background-color 0.3s;
        margin-left:5px;

        &:active {
            background-color: gainsboro;
        }
    }

    &__right-menu {
    }
}