.rss-reader {
}

.rss-links {
    padding: 0.5em;

    &__item {
        & + & {
            margin-top: 0.5em;
        }
    }
}

.rss-link {
    display: block;
    max-width: 100%;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}